<div class="p-body">
  <div class="filter-cats">
    <%= form_tag( root_path, remote: true, id: "filter-posts" ) do %>
      <%= hidden_field_tag :authenticity_token, value: form_authenticity_token %>
      <%= radio_button_tag :p_filter, 1, true, { id: "life" } %>
      <label for="life" id="life-lb">Life</label>
      <%= radio_button_tag :p_filter, 2, true, { id: "how-to" } %>
      <label for="how-to" id="how-to-lb" >How To</label>
      <%= radio_button_tag :p_filter, 3, true, { id: "games" } %>
      <label for="games" id="games-lb" >Games</label>
      <%= radio_button_tag :p_filter, 4, true, { id: "opinion" } %>
      <label for="opinion" id="opinion-lb" >Opinion</label>
      <%= radio_button_tag :p_filter, 0, true, { id: "all" } %>
      <label for="all" class="active" id="all-lb" >All</label>
    <% end %>
  </div>
  <div class="filter-cats-resp">
    <%= select_tag "f_cats", options_for_select( [ ["Life",1], ["How To",2], ["Games", 3], ["Opinion", 4], ["All", 0] ] ), include_blank: "– Filter Posts –" %>
  </div>
  <div class="post-article">
    <%= render partial: 'posts/posts', collection: @posts, as: :post %>
  </div>
</div>
