<article class="portfolio-article">
  <div class="p-image">
    <%= link_to ( portfolio ) do %>
      <%= image_tag ( portfolio.avatar.url ) %>
    <% end %>
  </div>
  <h3>
    <%= link_to portfolio.name, portfolio %>
  </h3>
  <div class="p-categories">
    <% portfolio.portfolio_categories.each do |c| %>
      <span class="<%= c.name %>">
        <%= c.name %>
      </span>
    <% end %>
  </div>
  <div class="p-description">
    <%= portfolio.description.truncate(150).html_safe %>
  </div>
  <p class="p-more">
    <strong><%= link_to 'Read More', portfolio %></strong>
  </p>
</article>