<article class="portfolio-article">
  <div class="p-image">
    <%= image_tag ( portfolio.avatar.url ) %>
  </div>
  <h3>
    <%= portfolio.name %>
  </h3>
  <div class="p-categories">
    <% portfolio.portfolio_categories.each do |c| %>
      <span class="<%= c.name %>">
        <%= c.name %>
      </span>
    <% end %>
  </div>
  <p class="p-description">
    <%= portfolio.description %>
  </p>
  <p class="p-more">
    <strong><%= link_to 'Read More', portfolio %></strong>
  </p>
</article>