<div class="portfolio-img">
	<%= image_tag( @portfolio.avatar.url ) %>
</div>
<article class="portfolio-show">
	<h2>
		<%= @portfolio.name %>
	</h2>
	<div class="p-categories">
	    <% @portfolio.portfolio_categories.each do |c| %>
	      <span class="<%= c.name %>">
	        <%= c.name %>
	      </span>
	    <% end %>
	</div>
	<div class="portfolio-desc">
	  <%= @portfolio.description.html_safe %>
	</div>
	<a href="<%= @portfolio.url %>" target="_blank" class="go-btn">Check it out!</a>
	<div class="share-btns">
		<div>
			<%= facebook_button %>
		</div>
		<div>
			<%= twitter_button title: "#{@post.name} –" %>
		</div>
		<div>
			<%= google_plus_button %>
		</div>
	</div>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES * * */
	    var disqus_shortname = 'davidrosillo';
	    var disqus_identifier = '<%= @portfolio.id %>';
	    var disqus_url = '<%= url_for( request.original_url ) %>';
	    
	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</article>