<p id="notice"><%= notice %></p>

<h1>Listing Portfolio Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @portfolio_categories.each do |portfolio_category| %>
      <tr>
        <td><%= portfolio_category.name %></td>
        <td><%= link_to 'Show', portfolio_category %></td>
        <td><%= link_to 'Edit', edit_portfolio_category_path(portfolio_category) %></td>
        <td><%= link_to 'Destroy', portfolio_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Portfolio category', new_portfolio_category_path %>
