<!DOCTYPE html>
<html>
<head>
  <title>David Rosillo</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= link_to 'David Rosillo', root_path %>
		<%= link_to 'Blog', posts_path %>
		<%= link_to 'Portfolio', portfolios_path %>
		<%= link_to 'About Me', about_landings_path %>
		<%= link_to 'Contact', new_contact_path %>
	</header>

<%= yield %>

</body>
</html>
