<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>David Rosillo</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
		<%= csrf_meta_tags %>
		<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	</head>
	<body>
		<section>
			<div class="my-image">
				<img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/15161_10155006909055696_2809560357001748257_n.jpg?oh=94c7cab84966be273d141fb7fba995e9&oe=56757130&__gda__=1450264305_6aa1a66ec9eebd363bc9cbfdcf72d17a">
			</div>
			<nav>
				<ul>
					<li>
						<h1>
							<%= link_to 'David Rosillo', root_path %>
						</h1>
					</li>
					<!-- <li>
						<%= link_to 'Blog', posts_path %>
					</li> -->
					<li>
						<%= link_to 'Portfolio', portfolios_path %>
					</li>
					<!-- <li>
						<%= link_to 'About Me', about_landings_path %>
					</li>
					<li>
						<%= link_to 'Contact', new_contact_path %>
					</li> -->
				</ul>
			</nav>
			<div class="social-links">
				<ul>
					<li>
						<a href="https://co.linkedin.com/in/davidrosillo/en" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
					</li>
					<li>
						<a href="https://www.facebook.com/drosilloricardo" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
					</li>
					<li>
						<a href="https://twitter.com/MrJutsu" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
					</li>
					<li>
						<a href="https://instagram.com/mrjutsu/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
					</li>
				</ul>
			</div>
		</section>
		<section class="content">
			<%= yield %>
		</section>

		<footer>
			© David Rosillo –– <%= Time.now.year %>
		</footer>

	</body>
</html>
