<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- BEGIN SEO -->
		<meta name="description" content="<%= params[:controller] == 'posts' && params[:action] == 'show' ? @post.description : '' %>">
		<meta name="keywords" content="<%= params[:controller] == 'posts' && params[:action] == 'show' ? @post.post_tags.join(',') : '' %>">
		<meta name="robots" content="index/follow">
		<link rel="author" href="https://plus.google.com/u/0/+DavidRosillomrjutsu/posts"/>
		<link rel="canonical" href="https:www.davidrosillo.co"/>
		<link rel="icon" type="image/png" href="https://s3-us-west-2.amazonaws.com/davidrosillo/favicon.png"/>
		<!-- fb -->
		<meta property="og:image" content="https://s3-us-west-2.amazonaws.com/davidrosillo/share-img.jpg"/>
		<meta property="og:url" content="<%= request.original_url %>"/>
		<meta property="og:site_name" content="David Rosillo"/>
		<meta property="og:title" content="<%= params[:controller] == 'posts' && params[:action] == 'show' ? @post.name : (params[:controller] == 'portfolios' && params[:action] == 'show') ? @portfolio.name : 'David Rosillo' %>"/>
		<meta property="og:type" content="article"/>
		<meta property="og:description" content="<%= params[:controller] == 'posts' && params[:action] == 'show' ? @post.description : (params[:controller] == 'portfolios' && params[:action] == 'show') ? @portfolio.description : '' %>"/>
		<!-- twt -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@MrJutsu">
		<meta name="twitter:creator" content="David Rosillo">
		<meta name="twitter:title" content="<%= params[:controller] == 'posts' && params[:action] == 'show' ? @post.name : (params[:controller] == 'portfolios' && params[:action] == 'show') ? @portfolio.name : '' %>">
		<meta name="twitter:url" content="<%= request.original_url %>">
		<meta name="twitter:image" content="https://s3-us-west-2.amazonaws.com/davidrosillo/share-img.jpg">
		<meta name="twitter:description" content="<%= params[:controller] == 'posts' && params[:action] == 'show' ? @post.description : (params[:controller] == 'portfolios' && params[:action] == 'show') ? @portfolio.description : '' %>">
		<!-- g+ -->
		<meta itemprop="name" content="">
		<meta itemprop="description" content="<%= params[:controller] == 'posts' && params[:action] == 'show' ? @post.description : (params[:controller] == 'portfolios' && params[:action] == 'show') ? @portfolio.description : '' %>">
		<meta itemprop="image" content="https://s3-us-west-2.amazonaws.com/davidrosillo/share-img.jpg">
		<link rel="publisher" href="https://plus.google.com/u/0/+DavidRosillomrjutsu/posts"/>
		<link rel="icon" type="image/png" href="https://plus.google.com/u/0/+DavidRosillomrjutsu/posts"/>
		<!-- END SEO -->
		<title>David Rosillo</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
		<%= csrf_meta_tags %>
		<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	</head>
	<body>
		<section class="pre-content">
			<nav>
				<ul class="nav-btns">
					<li>
						<h1>
							<%= link_to 'David Rosillo', root_path, class: "nav-a nav-content" %>
						</h1>
					</li>
					<li>
						<%= link_to 'Portfolio', portfolios_path, class: "nav-a nav-content" %>
					</li>
					<li>
						<%= link_to 'About Me', about_landings_path, class: "nav-a nav-content" %>
					</li>
					<li>
						<%= link_to 'Contact', new_contact_path, class: "nav-a nav-content"  %>
					</li>
					<%= form_tag( search_landings_path, id: "search-form", class: "nav-a nav-content" ) do %>
						<%= hidden_field_tag :authenticity_token, value: form_authenticity_token %>
						<span class="fa fa-search" id="search-sp"></span>
						<%= text_field_tag :search, params[:search], placeholder: "Search", class: "search-txt", id: "search-input" %>
					<% end %>
				</ul>
				<input type="checkbox" class="menu_ck" id="menu_ck">
				<label for="menu_ck" class="menu_lb">
					<i class="fa fa-bars fa-2x"></i>
				</label>
				<ul class="nav-btns-resp">
					<li>
						<strong>
							<%= link_to 'Portfolio', portfolios_path, class: "nav-a" %>
						</strong>
					</li>
					<li>
						<strong>
							<%= link_to 'About Me', about_landings_path, class: "nav-a" %>
						</strong>
					</li>
					<li>
					<strong>
						<%= link_to 'Contact', new_contact_path, class: "nav-a"  %>
					</strong>
					</li>
					<!-- <i class="fa fa-search"></i> -->
				</ul>
			</nav>
		</section>
		<section class="content">
			<%= yield %>
			<% unless (params[:controller] == "portfolios" && params[:action] == "show") || (params[:controller] == "landings" && params[:action] == "about") %>
				<div class="recent-articles">
					<div class="about-me">
						<div>
							&nbsp;&nbsp;<i class="fa fa-question"></i>&nbsp;&nbsp;<span>About Me</span>
							<hr>
						</div>
						<img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/15161_10155006909055696_2809560357001748257_n.jpg?oh=94c7cab84966be273d141fb7fba995e9&oe=56757130&__gda__=1450264305_6aa1a66ec9eebd363bc9cbfdcf72d17a">
						<!-- <p>I'm a Multimedia Engineer with an emphasis in web development, I'm skilled in Ruby on Rails, Javascript, jQuery, CSS and Git. I'm always looking to increase my skills and learn new things from others.</p> -->
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus, augue lacinia vehicula rhoncus, est mauris lacinia est, in consectetur augue enim et mi. Etiam interdum ipsum sem, sit amet pharetra nulla dictum congue. Pellentesque cursus tellus eget mauris viverra, ac malesuada orci bibendum. Cras eget sapien odio. Suspendisse a leo pulvinar, vestibulum erat semper, bibendum enim. Cras eu tristique libero. Praesent sodales porttitor libero sed laoreet.</p>
						<div class="social-links">
							<a href="https://github.com/mrjutsu" target="_blank"><i class="fa fa-github fa-2x"></i></a>
							<a href="https://co.linkedin.com/in/davidrosillo/en" target="_blank"><i class="fa fa-linkedin-square fa-2x" id="btn-in"></i></a>
							<a href="https://www.facebook.com/drosilloricardo" target="_blank"><i class="fa fa-facebook-square fa-2x" id="btn-fb"></i></a>
							<a href="https://twitter.com/MrJutsu" target="_blank"><i class="fa fa-twitter fa-2x" id="btn-tw"></i></a>
							<!-- <a href="https://instagram.com/mrjutsu/" target="_blank"><i class="fa fa-instagram fa-2x" id="btn-ig"></i></a> -->
						</div>
					</div>
					<div class="r-posts">
						&nbsp;&nbsp;<i class="fa fa-book"></i>&nbsp;&nbsp;<span>Recent Posts</span>
						<%= render partial: 'posts/recent_posts', collection: Post.recent.reverse, as: :post %>
					</div>
					<% if params[:controller] == "landings" %>
						<div class="r-categories">
							&nbsp;&nbsp;<i class="fa fa-tags"></i>&nbsp;&nbsp;<span>Categories</span>
							<%= render partial: 'landings/categories' %>
						</div>
					<% end %>
				</div>
			<% end %>
		</section>
		<section class="post-content">
			<footer>
				<div class="copyright">
					Copyright © <%= Time.now.year %>. David Rosillo. All rights reserved.
				</div>
			</footer>
		</section>
	</body>
</html>
